{%  extends 'base.html.twig' %}
{% block title %}DispenSeeds{% endblock %}
{% block body %}
<h1>Administracion Dispenseeds</h1>
    <a href="{{ path('app_login') }}"><button type="button" class="btn btn-primary">Login</button></a>
{% endblock %}